.found-regions.collapsed tr {
    display: none;
}

.region-toolbar {
    margin-bottom: 0.8em;
}

.region-toolbar .btn-toolbar {
    margin-bottom: 0.2em;
}

@media screen and (max-width: 1024px) {
    .hidden-tablet {
        display: none;
    }
}
